.auth-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 30px;

  li, button {
    width: 100%;
  }
}

.ng-star-inserted {
  width: 100%;
}
.mat-form-field {
  width: 100%;
}
