.posts__navigation {
  display: flex;
  justify-content: center;
}

.post {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
  &__text {
    margin: 10px 0;
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
}
