<form class="todos-modal" [formGroup]="todosModalForm">
  <div mat-dialog-content>
    <p>Todo id: {{ data.idNumber }}</p>
    <mat-form-field appearance="fill">
      <mat-label>Todo</mat-label>
      <input matInput #title [(ngModel)]="data.title" formControlName="title">
      <mat-hint align="end">{{title.value.length}} / 10</mat-hint>
    </mat-form-field>
    <mat-slide-toggle
      formControlName="isTaskCompleted"
      [color]="color"
      [required]="required"
      (toggleChange)="isTaskCompletedBool = !isTaskCompletedBool"
    >
      Завершено(<span *ngIf="isTaskCompletedBool else notCompleted">Да</span><ng-template #notCompleted>Нет</ng-template>)
    </mat-slide-toggle>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">No Thanks</button>
    <button mat-raised-button
            color="primary"
            [disabled]="!todosModalForm.valid"
            [mat-dialog-close]="data.title"
            (click)="sendTodos()"
    >Ok</button>
  </div>
</form>
