.todos-modal {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  button {
  }
}

.mat-dialog-content, .mat-form-field {
  width: 100%;
}
.mat-form-field {
  margin-top: 10px;
}

.mat-dialog-content {
  height: 200px;
}
