<form class="todos-modal" [formGroup]="todosModalForm">
  <div mat-dialog-content class="mat-dialog-content">
    <p>Enter you todo</p>
    <mat-form-field appearance="fill">
      <mat-label>Todo task</mat-label>
      <input matInput formControlName="title" formGroupName="title">
    </mat-form-field>
  </div>
  <div class="form__toggle">
    <mat-slide-toggle>
      Завершено()
    </mat-slide-toggle>
  </div>
  <div class="form__buttons">
    <div mat-dialog-actions>
      <button mat-button (click)="closeModal()">No Thanks</button>
      <button mat-button>Ok</button>
    </div>
  </div>
</form>

