<mat-card class="addPost__form">
  <form [formGroup]="addPostForm">
    <mat-form-field appearance="fill" class="addPost__form_input">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="fill" class="addPost__form_input">
      <mat-label>Textarea</mat-label>
      <textarea matInput formControlName="text"></textarea>
    </mat-form-field>
    <button
      mat-stroked-button
      [disabled]="!addPostForm.valid"
    >Отправить</button>
  </form>
</mat-card>
