.todos {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.openModal {
  width: 100%;
  margin-bottom: 30px;
  button {
    width: 100%;
    svg {
      width: 12px;
    }
  }
}

.todo__item_title {
  cursor: pointer;
  &:hover {
    background-color: rgba(#000, 10%);
  }
}

table {
  width: 100%;
  img {
    width: 20px;
  }
}

th.mat-sort-header-sorted {
  color: black;
}

.textLineThrough {
  text-decoration: line-through;
}

.deleteBtn {
  cursor: pointer;
}

.completed {
  background-color: #eeeeee;
}
