<div class="center">
  <div class="openModal">
    <button mat-stroked-button (click)="openDialog()">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus-circle" class="svg-inline--fa fa-plus-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"></path></svg>
      Add todo
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
         class="mat-elevation-z8">

    <!-- number Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
        No.
      </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title">
        Title
      </th>
      <td mat-cell *matCellDef="let element"
          class="todo__item_title"
          [ngClass]="{textLineThrough: element.completed, completed:element.completed}"
          routerLink="{{ element.id }}"
      > {{element.title}} </td>
    </ng-container>

    <!-- completed Column -->
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by completed">
        Completed
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="element.completed = !element.completed"
      >
        <img src="../../../../assets/check-circle-regular.svg" alt="completed" *ngIf="element.completed else notcompleted">
        <ng-template #notcompleted>
          <img src="../../../../assets/times-circle-regular.svg" alt="notCompleted">
        </ng-template>
      </td>
    </ng-container>

    <!-- delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell
          *matCellDef="let element"
          (click)="deleteTodo(element)"
      >
        <img
          src="../../../../assets/trash-alt-solid.svg"
          alt="delete"
          style="cursor: pointer"
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
