<div class="navigation center">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle>
        <a routerLink="posts" class="navigation__element_link">
          Posts
        </a>
      </mat-button-toggle>
      <mat-button-toggle>
        <a routerLink="postsTable" class="navigation__element_link">
          Posts table
        </a>
      </mat-button-toggle>
      <mat-button-toggle>
        <a routerLink="addPost" class="navigation__element_link">
            Add post
        </a>
      </mat-button-toggle>
      <mat-button-toggle>
        <a routerLink="todos" class="navigation__element_link">
          Todos
        </a>
      </mat-button-toggle>
  </mat-button-toggle-group>
</div>
