.navigation {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  width: 50%;
  margin: 50px auto 0;
  padding: 10px;
  border-radius: 4px;
}

.mat-button-toggle-checked {
  background-color: rgba(#ccc, .2);
}
