.navigation {
  display: flex;
  justify-content: center;
  &__element{
    &_link {
      width: 100%;
      height: 100%;
    }
  }
}

.mat-button-toggle-checked {
  background-color: rgba(#ccc, .2);
}
