<div class="navigation center">
  <a
    routerLink=""
    mat-raised-button
    class="navigation__element button"
  >
    Домой
  </a>
  <a
    routerLink="todos"
    mat-raised-button
    class="navigation__element button"
  >
    Todos
  </a>
  <a
    routerLink="documents"
    mat-raised-button
    class="navigation__element button"
  >
    Документы </a>
  <a
    routerLink="auth"
    *ngIf="!checkAuth()"
    mat-raised-button
    class="navigation__element button"
  >
    Войти/Зарегистрироваться
  </a>
  <a
    *ngIf="checkAuth()"
    (click)="logout()"
    mat-raised-button
    class="navigation__element button"
  >
    Выйти
  </a>
</div>
