.document {
  &__history {
    display: flex;
    min-height: 900px;
    height: 100%;
    &_list, &_single {
      width: 100%;
      margin: 10px;
    }
    &_list {
      a {
        &:not(:first-child) {
          margin: 10px 0;
        }
      }
    }
    mat-card {
      height: 100%;
    }
  }

}

